html {
	height: 100%;
	margin:0;
	padding: 0;
}

body {
	background-color: #2B2B2B;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.logTextArea {
	width: 100%
}

.logSection {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

#bitsDiv {
	visibility: hidden;
}

.hiddenElement {
	visibility: hidden;
}

.basicModal {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #3C3F41;
	border-radius: 10px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-80%)
}